.modalPostDiv{
    height: 350px;
    width: 250px;
    display: flex;
    flex-direction: column;
}

.titlePost{
    font-size: 24px;
    font-weight: bold;
    color: #5C5A5A
}

.boxPost{
    height: 200px;
    width: 245px;
    border: 1px solid gray;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.createPost{
    margin-left: 10px;
    color: #42403A;
    font-size: 16px;
}

.inputBox{
    height: 100px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
}

.buttonsPost{
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.cancelButtonDiv{
    height: 60px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submitButtonDiv{
    height: 60px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonCancel{
    height: 30px;
    font-size: 16px;
    font-family: Helvetica;
    border-radius: 10px;
    background-color: white;
    color: black;
    width: 100px;
    border-color: #004236;
}

.buttonPublish{
    height: 30px;
    font-size: 16px;
    font-family: Helvetica;
    border-radius: 10px;
    background-color: white;
    color: black;
    width: 100px;
    border-color: #CCD32A;
}

.imageBlock{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.placeholderImage{
    margin-left: 10px;
}
