
.userInfo{
    height: 140px;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-image: url("../img/tail.png");
    background-position: right;
    background-repeat: no-repeat;
    background-position-y: -190px;
}

.photo{
    height: 100%;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.userName{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.circleImg{
    height: 60px;
    width: 60px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
}

.userImg{
    height: 60px;
    width: 60px;
    border-radius: 50px;
}

.userFirstname{
    height: 24px;
    display: flex;
    margin-bottom: 10px;
}

.userLastname{
    height: 24px;
    display: flex;
}

.nameClass{
    font-family: Helvetica;
    font-size: 20px;
    font-weight: bold;
    margin-top: 0px;
}

.createPostButton{
    height: 80px;
    display: flex;
    justify-content: center;
}

.postButton{
    height: 40px;
    font-size: 16px;
    font-family: Helvetica;
    border-radius: 10px;
    background-color: #004236;
    color: white;
    width: 160px;
}

.iconPen{
    margin-left: 10px;
    height: 18px;
}

.mainDiv{
    display: flex;
    flex-direction: column;
}

.postView{
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}