.backBox{
    height: 120px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-image: url("../../img/tail.png");
    background-position: right;
    background-repeat: no-repeat;
    background-position-y: -190px;
}

.back{
    font-size: 30px;
    margin-left: 20px;
}

.titleProfile{
    height: 40px;
    display: flex;
    align-items: center;
}

.titleProfile{
    font-size: 28px;
    font-weight: bold;
    color: #5C5A5A;
    margin-left: 20px;
}

.profilePicDiv{
    height: 140px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.photoProfile{
    height: 120px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circleImgProfile{
    height: 120px;
    width: 120px;
    border-radius: 60px;
    display: flex;
    justify-content: center;
}

.userImgProfile{
    height: 120px;
    width: 120px;
    border-radius: 60px;
}

.typePerfil{
    height: 20px;
    width:100px;
    margin-top: -15px;
    background-color: #CCD32A;
    border-radius: 4px;
}

.textType{
    margin-top: -2px;
    text-align: center;
}

.profileNameDiv{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profileName{
    color: #5C5A5A;
    font-size: 16px;
    font-weight: bold;
}

.profileSpecialityDiv{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profileSpeciality{
    color: #42403A;
    font-size: 14px;
    font-weight: lighter;
}

.boxButtonProfile{
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
