.backBox {
  height: 120px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../../img/tail.png");
  background-position: right;
  background-repeat: no-repeat;
  background-position-y: -190px;
}

.back {
  font-size: 30px;
  margin-left: 20px;
}

.titleProfileContainer {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 11vw;
  margin-bottom: 6.2vh;
}

.titleProfile {
  font-size: 44px;
  font-weight: bold;
  color: #5C5A5A;
}

.profilePicDiv {
  height: 177px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.photoProfile {
  height: 177px;
  width: 177px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.circleImgProfile {
  height: 177px;
  width: 177px;
  border-radius: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.userImgProfile {
  height: 177px;
  width: 177px;
  border-radius: 170px;
}

.typePerfil {
  height: 24px;
  width: 120px;
  margin-top: -15px;
  background-color: #CCD32A;
  border-radius: 4px;
}

.textType {
  font-size: 17px;
  text-align: center;
  text-transform: lowercase;
}

.textType::first-letter {
  text-transform: uppercase;
}

.profileNameDiv {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: capitalize;
}

.profileName {
  color: #5C5A5A;
  font-size: px;
  font-weight: bold;
  margin-top: 4vh;
}

.profileSpecialityDiv {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2vh;
}

.profileSpeciality {
  color: #42403A;
  font-size: 14px;
  font-weight: lighter;
}

.boxButtonProfile {
  height: 160px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.closeSession {
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

.logoutText {
  color: red;
  font-size: 12px;
}

.rowTitle1 {
  margin-top: 40px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rowTitle {
  margin-top: 10px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.titleEdit {
  color: #42403A;
  font-size: 18px;
  margin-left: 20px;
}

.inputTextBox {
  border-radius: 5px;
  width: 80%;
  margin-left: 20px;
  background-color: #FBFBFB;
}

.buttonCommentProfile {
  height: 100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cancelButtonDivCommentProfile {
  height: 100px;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.submitButtonDivCommentProfile {
  height: 100px;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.buttonCancelCommentProfile {
  height: 40px;
  font-size: 16px;
  font-family: Helvetica;
  border-radius: 10px;
  color: white;
  width: 120px;
  background-color: #42403A;
}

.buttonPublishCommentProfile {
  height: 40px;
  font-size: 16px;
  font-family: Helvetica;
  border-radius: 10px;
  color: white;
  width: 120px;
  background-color: #42403A;
}
/*# sourceMappingURL=profile.css.map */