.container-directory {

    input {
        border-radius: 8px;
    }
}

.container-cards {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

// .search-directory {
//     border-radius: 8px;
//     border: 2px solid #C4C4C4;
// }

