.cardPost{
    height: 280px;
    width: 80%;
    border: 1px solid gray;
    border-radius: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    
}

.userData{
    display: flex;
    height: 100px;
}

.userBody{
    display: flex;
    height: 120px;
}

.photoPost{
    height: 100px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.circleImgPost{
    height: 60px;
    width: 60px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    
}

.userImgPost{
    height: 60px;
    width: 60px;
    border-radius: 50px;
}

.userNamePost{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 10px;
}

.userFullnamePost{
    height: 18px;
    display: flex;
    margin-bottom: 10px;
}

.userPostDate{
    height: 16px;
    display: flex;
}

.nameStylePost{
    font-family: Helvetica;
    font-size: 16px;
    font-weight: bold;
    margin-top: 0px;
}

.dateStylePost{
    font-family: Helvetica;
    font-size: 12px;
    margin-top: 0px;
    color: gray;
}

.bodyPost{
    font-family: Helvetica;
    font-size: 16px;
    margin-right: 20px;
    margin-left: 20px;
    text-align: justify;
}

.userComment{
    display: flex;
    height: 60px;
}

.likesView{
    height: 100%;
    width: 35%;
    display: flex;
    align-items: center;
}

.commentView{
    height: 100%;
    width: 65%;
    display: flex;
    align-items: center;
}

.iconHeart{
    margin-left: 20px;
    font-size: 30px;
    color: black;
}

.likeText{
    color: grey;
    font-size: 16px;
    margin-left: 10px;
}

.picture{
    display: block;
    position: relative;
    left: -50%;
    height: 120px;
}

.bodyPic{
    position: absolute;
    left: 50%;
}
