.nav-bar {
    width: 100%;
    height: 60px;
    display: flex;
    flex-flow: row nowrap;
    background-color: #CCD32A;
    nav {
        width: 100%;
    }
    ul {
        transform: translateY(-15px);
        justify-content: space-around;
    }
    li {
        list-style: none;
        // border: 2px solid #2e1696;
        display: inline-block;
        margin: 10px;
    }
    a{
        text-decoration: none;
    }
    position: fixed;
    bottom: 0px;
}

.nav-bar-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
    .icon-nav {
        width: 45px;
        height: 45px;
    }
    .title-nav-bar {
        margin: 0;
        font-size: 14px;
        color: #403833;
        font-weight: bold;
    }
  }