.nav-bar {
    width: 100%;
    height: 85px;
    display: flex;
    flex-direction: column-reverse;
    nav {
        z-index: 1;
        width: 100%;
        height: 60px;
        background-color: #CCD32A;
        justify-content: space-around;
    }
    ul {
        transform: translateX(15px);
        justify-content: space-around;
        margin-top: 8px;
        // text-align: center;
    }
    li {
        list-style: none;
        // border: 2px solid #2e1696;
        display: inline-block;
        width: 33.33%;
        flex-wrap: nowrap;
    }
    a{
        text-decoration: none;
    }
    position: fixed;
    bottom: 0px;
}

.nav-bar-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-right: 10px;
    .icon-nav {
        width: 45px;
        height: 45px;
    }
    .title-nav-bar {
        margin: 0;
        font-size: 14px;
        // color: #403833;
        font-weight: bold;
    }
  }

  .fas::before{
        color: #403833;
        font-size: 30px;
  }

  .circulo {
        background-color: #CCD32A;
        border-radius: 85px;
        width: 85px;
        height: 85px;
        display: block;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        position: absolute;
        top: 0px;
        
  }

  .selected {
    color:#FF5F00;
  }

