.card {
    border: 2px solid #C4C4C4;
    border-radius: 8px;
    width: 157px;
    height: 301px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 10px;
    box-shadow: 10px 5px 5px #919191;
    padding: 0;
    .imgUser {
        width: 157px;
        height: 176px;
        margin-top: 0;
    }
    img {
        width: 100%;
        height: 100%;
        margin-top: 0;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
    }
    .nameUser {
        text-align: center;
        width:  157px;
        height: 40px;
        margin-bottom: 0;
        h3 {
            margin: 0;
            font-size: 16px;
        } 
    }
    .occupationUser {
        margin-top: 0;
        width: 157px;
        height: 48px;
        p {
            font-size: 14px;
            text-align: center;
        }
    }
}

@mixin status {
    border: 2px solid #C4C4C4;
    width: 157px;
    height: 40px ;
    text-align: center;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    font-weight: bold;
}

.ecopetrol {
    @include status;
    background-color: #004236;
    color: white;
   
}
.egresado {
    background-color: #CCD32A;
    @include status;
   
}
.activo {
    background-color: #F7DB17;
    @include status;
   
}